
    <p class="copyR">Copyright © 2023 by Chris Shih</p>
    <div id="pagetop">
        <p class="animated fadeInRight" title="top">top</p>
        <!-- <div class="animated fadeInRight backToPrev" title="back"><a href="javascript:history.go(-1);">back</a></div> -->                
    </div>


    <script>
        $(function(){
            $(window).scroll(function () {
                var s = $(this).scrollTop();
                var m = 300;
                if(s > m) {
                    $("#pagetop").fadeIn('slow');
                } else if(s < m) {
                    $("#pagetop").fadeOut('slow');
                };
                
            });





            $("#pagetop p").click(function () {
                $('html,body').animate({ scrollTop: 0 }, 'slow');
                return false;
            });

            $(".button-group .button").click(function () {
                $('html,body').animate({ scrollTop: 200 }, 'slow');
                //return false;
            });
        });
    </script>