
        <!-- <header class="bodyHeader_inner cf"> -->
            <div class="wrapper">
                <h1 class="logo"><a href="index.html">CHRIS SHIH</a></h1>
                <nav class="mainNav cf">
                    <div id="navBtn"><span></span><span></span><span></span></div>
                    <ul class="cf">
                        <li><a href="index.html">Works</a></li>
                        <li><a href="about.html">About Me</a></li>
                    </ul>
                </nav>
            </div>
    
        <!-- </header> -->
